  body{
  
	background-image: url('/images/back.png');
  }
  
  input, textarea, input:focus, textarea:focus{
  
	outline: none;
  }
  
  .popover{
	
	word-wrap: break-word !important;
  }
  
  .bodyHideOverflow{
  
	overflow: hidden;
  }
  
  #iframeHiddenFix{
	
		height: 1px;
		width: 1px;
		z-index: -1;
		display: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
  }
  
  .lr_border{
   z-index: 2700;
	border: 1px solid #DDD;
  }
  
  .lr_border_trans{
  
	z-index: 1;
	border: 1px solid #FFF;
	cursor: pointer;
  }
  

  
  .draggable{
	width: 90%;
	background: #FFF;
	text-align: center;
	padding: 3px;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 5px;
	display: block;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
  }

	.resources h4{
	
		text-align: center;
	}
	
	.activity table{
	
		border-collapse: separate;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 5px;
		text-overflow: ellipsis;
		border: 1px solid #DDD;
	}
	
	.dropbox{
	
		background: #FFF;
		border-collapse: separate;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 5px;
		text-overflow: ellipsis;
		border: 1px solid #DDD;

		min-height: 300px;
	}
	
	
	.friends{
	
		min-height: 300px;
		width: 100%;
	}
	
	.dropText{
		
		font-size: 36px;
		color: #ccc;
		text-align: center;
		padding: 0 25px;
		line-height: 200px;
	}
	
	.customH4{
	
		font-size: 22px;
		line-height: 20px;
		padding-top: 5px;
		margin: 10px 0;
		font-family: inherit;
		font-weight: bold;
		color: inherit;
		display: block;
	}
	
	.customH4 a{
	
		margin: -5px 0 0 10px;
	}
	
	iframe{
		margin: 0 auto;
		float: left;
		padding: 0;
		height: 100%;
		width: 100%;
		border: none;
	}
	
	.bottomBar{
	
		width: 100%;
		margin-top: 15px;
		border-top: #efefef 1px solid;
		clear: both;
	}
	
	.bottomBar i{
		
		margin: 0;
		margin-right: 39%;
		margin-top: 5px;
		cursor: pointer;
	}
	
	.icon-file{
	
		margin-right: 0 !important;
	}
	
	.timeline-container{
	
		height: 700px;
		overflow:hidden;
	}
	
	.modal-iframe, .modal-bookmark{
	
		margin: 0;
		padding: 0;
		
	}
	
	.modal-iframe{
		
		float: right;
		width: 85%;
		height: 100%;
	}
	
	.modal-timeline{
		
		float: left;
		width: 15%;
		overflow: scroll;
		overflow-x: hidden;
		height: 100%;
	}
	
	.chatBox, .chatTools{
	
		float: left; 
		width: 15%;
		margin: 0;
		padding: 10px 0 0 0;
		height: 100px; 
	}

	
	.chatTools{
		padding-top: 15px;
		height: 15px;
		text-align: center;
	}
	
	.chatTools span{
		
		color: #aaa;
		padding: 0 10%;
	}
	
	.chatBox textarea{
		height: 90%;
		width: 90%;
		margin: 0 auto;
		display: block;
		padding: 0;
		resize: none;
	}
	
	
	
	footer div{
	
		width: 60%;
		margin: 0 auto;
	}
	
	footer p{
	
		text-align: center;
		font-size: 11px;
	}
	
	.learningRegistryImage img{
	
		padding-top: 30px;
	}
	
	#stripedProgress{
	
		width: 30%;
		margin: 300px auto;
	}
	
	.modal-header div{
	
		font-size: 24px;
		text-align: center;
		margin: auto auto;
		padding-top: 4px;
		width: 100%;
		display: block;
	}
	
	.author-timeline{
	
		text-align: right;
		font-size: 14px;
		float: right;
		clear: both;
		color: #aaa;
		cursor: pointer;
	}
	
	.author-timeline:hover{
	
		color: #000;
	}
	
	.accordion-heading, .accordion-toggle{
		
		display: inline !important;
		height: 33px !important;
		line-height: 33px;
	}
	
	



.control_panel {
	width:175px;
	float:left;
	padding: 10px;
}
.controls {
    /*align:center;*/
}

/*fieldset { border:0;  margin-bottom: 40px;}	
label,select,.ui-select-menu { float: left; margin-right: 10px; }
select { width: 150px; }*/

#document_list {
    font-size:0.8em;
    list-style:none;
    margin:7px;
    height: 100%;
    overflow: auto;
}
#infovis {
    /*position:relative;*/
	width: 100%;
	height: 500px;
    /*margin:auto;*/
    overflow:hidden;
    margin: 0 auto;
    
    background-color:Black;

}
#progressbar {
    width: 100%;
    margin: auto;
}

.ui-progressbar-value {
	background-image: url(pbar-ani.gif); 
}


.infovizModal{

	margin: 0 auto;
	height: 100%;
	float: right;
	display: block;
	width: 70%;
}


.resultModal{

	float: left;
	height: 640px;
	margin-left: 0 !important;
	width: 30%;
	overflow: auto;
	overflow-x: hidden;
	word-break:break-all;
}

.resultClick{
	
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	
}

.navbar{

	margin-bottom: 0;
}

.center{
	float: none;
	margin: 0 auto !important;
	text-align: center;
}

.small{

	min-height: 25px;
}

.small a{

	padding-top: 2px !important;
	padding-bottom: 5px !important;
	background: none !important;
}

.navbar-inner, .backColor{

	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}

.backColor{

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #666666 0%, #444444 100%) !important;

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #666666 0%, #444444 100%) !important;

/* Opera */ 
background-image: -o-linear-gradient(top, #666666 0%, #444444 100%) !important;

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, #444444)) !important;

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #666666 0%, #444444 100%) !important;

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #666666 0%, #444444 100%) !important;
	border-color: #252525 !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);

background: none !important;
background-color: #1B5AAF !important;

}


.navbar li{

	display: inline;
}
