ul {
    list-style-type: none;
}

#browser #categories {

    float: left;
    width: 60%;
    margin: 8px auto;
}

#browser #view-port {
    background-color: #fff;
    float: left;
    margin: 8px;
}

#browser #footer {
    float: left;
    margin-left: 160px;
}

.resources {
    margin-left: 2em;
    font-size: 8pt;
}

.resources .children {
    margin-left: 3em;
}
