<div class="container" style="position:relative">
	<div class="row">
		<div id="browser">
		  <div id="categories" class="span12" >
			<ul>
			  {{#categories}}
				<li class="category">
					<a href="#" class="category-link" data-category="{{name}}">{{name}}</a>
				</li>
			  {{/categories}} 
			</ul>
		  </div>
		  <section id="view-port">
			<div id="toolbar">
			  <!-- TODO search box -->
			</div>
			<div id="crumbs"></div>
			<div id="hierarchy"></div>
		  </section>

		</div>    

		<!-- this drop down is cloned for the bread crumbs -->
		<span id="grade-filter-master" style="display: none">
		  <label>Grade:</label>
		  <select class="grade-link">
			<option value="K">K</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
		  </select>
		</span>
	</div>
</div>
		<script src="/javascripts/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/crumbs.js"></script>
		<script type="text/javascript" src="/javascripts/libs/jquery.cookie.js"></script>
		<script type="text/javascript" src="/javascripts/browser.js"></script>
		<script>
			
			
			  try{
				 BROWSER.start($('#hierarchy'));
			 }catch(ex){
			  console.log(ex);
			 }

		</script>

