
      <!-- Example row of columns -->
      <div class="row">
		<div class="span3">
			<div class="row">
				<div class="accordion friends" id="accordion2" data-bind="foreach: followers">

				  <div class="accordion-group">

					<div class="accordion-heading">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-bind="attr:{href:$root.getCollapseId(name, '#')}, text: name" ></a>
					  <!-- ko if: $data.isUser -->
						<i style="float: right; margin: 9px;" class="icon-user"></i>
					  <!-- /ko -->
					</div>

					<div data-bind="attr:{id:$root.getCollapseId(name)}" class="accordion-body collapse">
					  <div class="accordion-inner" style="height:200px;">
						Info:<br/>
						Total Resources:<br/>
						New Resources:<br/>

						<!-- ko foreach: content -->
							<div class="draggable lr_border_trans pull-left" data-bind="attr: {name: $root.generateName($parentContext.$index(), $index(), 'followers')}">
								<span style="white-space: nowrap;" data-bind="text: title"></span><br/>

							</div>
						<!-- /ko -->

					  </div>
					</div>

				  </div>
				</div>
			</div>
