 <div class="container">
 
 
 
 	<div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div style="height: 30px;" class="modal-header">
			
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			
			<a class="btn" data-bind="visible: !isCurrentBookmarked(), attr:{name: currentResourceName}, click: moveResourceToBookmark" style="float: left;" href="#">
				<i class="icon-heart"></i>
			</a>
			<a class="btn disabled" data-bind="visible: isCurrentBookmarked(), attr:{name: currentResourceName}, click: moveResourceToBookmark" style="float: left; cursor: pointer;" href="#">
				<i class="icon-heart"></i>
			</a>
			<div>
				<span data-bind="text: currentObject().title"></span>
			</div>
		</div>
		
		<div class="modal-timeline">
			<table id="timeline-table" class="table table-striped">
				<tbody data-bind="foreach: currentObject().timeline">
					<tr><td data-bind="html: $root.generateParadataText($data, $index), 
									   style: { 'background-color': $index()%2 == 1 ? '#F9F9F9' : '#FFF', 
									   'border-top': $index()==0 ? 'none' : '1px #DDD solid'}"></td>
					</tr>
				</tbody>
			</table>
			
			<span data-bind="if: checkTimelineLength(currentObject().timeline) == 0">Be the first to interact</span>
		</div>
		<div class="modal-iframe">
			<div id="mBody" class="modal-body">
				<div id="spinnerDiv" style="margin: 100px auto; height: 20%; width:20%;"></div>
				
				<iframe id="modalFrame" frameborder="0"></iframe>	
			</div>	
		</div>
		
		
		<div class="chatTools">
			<a><i class="icon-plus"></i></a>
			<a><i class="icon-minus"></i></a>
		</div>
		<div class="chatBox">	
			<textarea placeholder="Add comment here (press Enter to send)."></textarea>
		</div>
	</div>

      <!-- Example row of columns -->
      <div class="row">	  
		<div class="span3">
			<div class="row">
				<div class="accordion friends" id="accordion2" data-bind="foreach: followers">
				
				  <div class="accordion-group">
				  
					<div class="accordion-heading">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-bind="attr:{href:$root.getCollapseId(name, '#')}, text: name" ></a>
					  <!-- ko if: $data.isUser -->
						<i style="float: right; margin: 9px;" class="icon-user"></i>
					  <!-- /ko -->
					</div>
					
					<div data-bind="attr:{id:$root.getCollapseId(name)}" class="accordion-body collapse">
					  <div class="accordion-inner" style="height:200px;">
						Info:<br/>
						Total Resources:<br/>
						New Resources:<br/>
						
						<!-- ko foreach: content -->
							<div class="draggable lr_border_trans pull-left" data-bind="attr: {name: $root.generateName($parentContext.$index(), $index(), 'followers')}">
								<span style="white-space: nowrap;" data-bind="text: title"></span><br/>
								<img src="/images/qmark.png" />
							</div>
						<!-- /ko -->
						
					  </div>
					</div>
					
				  </div>						
				</div>
			</div>
			<div class="row dropbox">
				<span data-bind="visible: bookmarks().length == 0" class="dropText">Drop stuff here</span>
				
				<!-- ko foreach: bookmarks -->
					<div class="draggable lr_border_trans pull-left" data-bind="attr: {name: $root.generateName('-1', $index(), 'bookmarks')}">
						<span style="white-space: nowrap;" data-bind="text: title"></span><br/>
						<img src="/images/qmark.png" />
					</div>
				<!-- /ko -->
				
			</div>
		</div>
		<div class="span9">		  
		  	<div class="row">
				
				<div style="text-align: center;" data-bind="foreach: data" >
					<div data-bind="if: $index() < numOfPreviewElements" class="span3">

						<div class="customH4">
							<span data-bind="text: name"></span>
							<a data-bind="click: $root.followOrganization" class="btn btn-small"><i class="icon-plus-sign"></i></a>
						</div>
						
						<!-- ko foreach: content -->
							<div class="draggable lr_border_trans pull-left" data-bind="attr: {name: $root.generateName($parentContext.$index(), $index(), 'data')}">
								
								<span style="white-space: nowrap;" data-bind="text: $data.title"></span><br/>
								<img src="/images/qmark.png" />
							</div>
						<!-- /ko -->
					</div>	
				</div>
				
				 
	<section>
		<div id="index-tabs">
			<ul class="nav nav-tabs">
				<li><a href="">Home</a></li>
				<li><a href="#browser">Brower</a></li>
				<li><a href="#visual">Visual</a></li>
			</ul>
			
			<div class="tab-content">
			  <div class="tab-pane active" id="browser"></div>
			  <div class="tab-pane" id="visual"></div>
			  <div class="tab-pane" id="settings"></div>
			</div>
		</div>
	</section>
			</div>
		</div>
      </div>
	
	
 </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster --> 
	<script src="https://login.persona.org/include.js"></script>

	<script src="/javascripts/jquery.js"></script>
	<script src="//code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
	<script src="/javascripts/bootstrap.js"></script>


	<script type="text/javascript" src="/javascripts/libs/modernizr-2.0.6.min.js"></script>
	<script type="text/javascript" src="/javascripts/libs/jquery.ba-hashchange.min.js.txt"></script>
	<script type="text/javascript" src="/javascripts/libs/jquery.simplemodal.1.4.2.min.js"></script>
	    
	<script src="/javascripts/Placeholders.js"></script>
	<script src="/javascripts/spin.min.js"></script>
	<script src="/javascripts/jquery.nicescroll.js"></script>
	<script src="/javascripts/application.js"></script> 
		
	<script>

		Placeholders.init();
		var temp = new mainViewModel([]), activeModalName = null;
		ko.applyBindings(temp);
		/*$.getJSON('/resources',function(data){
			
			console.log(data);
			return;
			for(var title in data){
				var items = new Array();
				for(var i in data[title]){
					items.push(new resourceObject(data[title][i].title, data[title][i].resource_url))
				}
				temp.data.push(new previewObject(title, data[title]));	
			}
			
		}) 
		
		<% for(var i in relationships){ %>
			var title = "<%= relationships[i].title %>";			
			var r = new previewObject(title,[]);
			temp.followers.push(r);
		<%}%>*/

		$("#modal").hide();

		$(document).ready(function(){
			
			enableDrag();
			enableModal();
			
			$(".chatBox textarea").keyup(function(e){
				
				//Enter was pressed
				if(e.which == 13){
				
					//add element to observable array, send a request via socketio, and remove current textarea value
					var mockParadata = {
						"activity": {
							"actor": {
								"objectType": "teacher",
								"description": [
								"You",
								"high school",
								"math"
								]
							},
							"verb": {
								"action": "commented",
								"detail": $(this).val(),
								"date": "2012-09-27"
							},
							"object": temp.currentObject().url
						}
					};
					
					temp.currentObject().timeline.push(mockParadata);
					
					//Scroll bar fix...
					$(".modal-timeline").getNiceScroll().hide();
					$(".modal-timeline").getNiceScroll().show();
					$(".modal-timeline").getNiceScroll()[0].noticeCursor();

					//console.log($(".modal-timeline").getNiceScroll());
					$(this).val("");
				}
				//console.log(e.which);
			});
			
			$( ".dropbox" ).droppable({
				drop: function( event, ui ) {
					
					ui.draggable.fadeOut(function(){

						temp.moveResourceToBookmark(ui.draggable.attr("name"));
					});
				}
			});
			
			$("table").on("click", ".author-timeline", function(evt){
			
				$(".author-timeline").not(this).popover('hide');
				$(this).popover('toggle');
				
				//Enable tooltips
				$(".bottomBar i").tooltip();
				
				//evt.stopPropagation();
			});
			
			

		});
		
		var hidePopover = function(){
		
			$(".author-timeline").popover('hide');
		};
		
		var handleOnclickUserBar = function(obj){
		
			console.log(obj);
			var cacheObj = $(obj);
			var name = cacheObj.attr("name");
			var className = cacheObj.attr("class");
			
			if(className == "icon-star")
				self.followUser(name);
			
			console.log(className);
			
		};
	
	
	
	$(function() {
		
		//Load main initially
		$("#browser").load("/browser?ajax");
		var alreadyLoaded = ["browser"];
		
		$("#index-tabs a").click(function(e){
			e.preventDefault();
			
			var temp = $(this);
			temp.tab("show");
			
			//Check whether or not the tab has ever been clicked on
			if(jQuery.inArray(temp.attr("href"), alreadyLoaded) == -1){
				
				alreadyLoaded.push(temp.attr("href"));
				var saveName = temp.attr("href").split("#")[1];
				$("#" + saveName).load("/" + saveName + "?ajax");
			}
		});
	});
	</script>

	<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
		<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
	<![endif]-->
