	<div class="container" style="position:relative">	
		<div id="first" class="walkthrough">
			<div class="row">
				<div class="span9 learningRegistryImage">
				
					<img src="/images/customLogo.png" />
					<form method="get" action="/find" id="searchinput" class="input-append" style="margin-top: 60px;">
						 <input class="input-xxlarge" id="term" name="query" type="text" placeholder="Search the Learning Registry for resources"/>
						 <input class="btn btn-primary"id="Search" style="margin-top:0;" type="submit" value="Search" />
					</form>
					
					<div style="margin-top:50px;">
						<span>Browse By</span>
						<a class="btn" id="defaultTab" href="/browser">Standards</a>
						<span>or</span>
						<a class="btn" href="/sites">Sites</a>
					</div>
				</div>

				<div class="span3 ">
					<div class="">
						<form id="signin" action="signup" method="POST" style="margin-bottom: 0;">
							<legend>Sign In Using</legend>
						</form>
					</div>
				</div>

			</div>  
		</div>
	</div><!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    	
	<script src="/javascripts/jquery.openid.js"></script>


	<script src="/javascripts/Placeholders.js"></script>
	<script type="text/javascript">

		//var temp = new mainViewModel(previewResources);
		var slides = ["first", "second", "third"];
		var current = 0;
		
		//ko.applyBindings(temp);
		//console.log(self.data());
		

		
		$(function(){
			
			$('#signin').openid();
			$('input, textarea').placeholder();
			
			$("#openid_btns a").off("click");

			$("#btn_3").click(function(){
			  navigator.id.getVerifiedEmail(function(assertion) {
				if (assertion) {
				  console.log('got here');
				  $("#assertation").val(assertion);
				  $("#authForm").submit();
				} else {
				  location.reload();
				}
			  });
			});
			
			var handlePerfectSize = function(){
				var height = $(window).height() - $(".navbar-inverse").height() - $("footer").height() * 2.2;
				height = (height < 380) ? 380 : height;
				console.log(height);
				$("#mainSection").css("height", height + "px");	
				$("#first").css("margin-top", $(window).height()*.10 + "px");					
			};
			
			handlePerfectSize();
			$(window).resize(function() {
				handlePerfectSize();
			});
		});
	</script>
