<ul data-bind="foreach: publishers">
	<li>
		<a data-bind="text: title, attr: {href: url}">
		</a>
	</li>
</ul>
<!-- ko if: loadMore -->
<button data-bind="click: load">More</button>
<!-- /ko -->
<script>
	$(function(){
		var viewModel = function() {
			var self = this;
			self.page = 0;
			self.publishers = ko.observableArray([]);
			self.loadMore = ko.observable(true);
			self.load = function(){
				$.getJSON("/publishers?page=" + self.page, function(data){							
					self.page++;
					if(data.length <= 0){
						self.loadMore(false);
					}else{
						for(var i in data){
							var item = {
								title: data[i],
								url: "/publisher/" + data[i] + "/view"
							}
							self.publishers.push(item);
						}
					}
				});
			}
		}				
		var vm = new viewModel();
		ko.applyBindings(vm);				
		vm.load();
	});
</script>