	<div class="container" style="position:relative">

		<div id="third" class="walkthrough" style="visibility: hidden; position: absolute; top: 0; left: 0; ">
			<div class="row">
				<div class="span12">

					Third step<br/>
					<a class="btn submit">Submit</a>
				</div>
			</div>
		</div>

		<div id="second" class="walkthrough">
			<div class="row">
				<div class="span4 hero-unit">
				    <h2>You've taken the first step</h2>
					<p>A confirmation email has been sent to your inbox and should arrive momentarily. Meanwhile, please tell us a little more about yourself.</p>

				</div>

				<div class="span4 offset1">
					<form style="padding-top: 20px;" action="/signup" method="POST">
					  <input type="text" placeholder="Full Name" class="input-xlarge" name="fullName"><br/><br/>
					  <span class="help-block">Please be specific (e.g 6th Grade Math Teacher)</span>
					  <input type="text" placeholder="Job Title" class="input-xlarge" name="jobTitle"><br/><br/>

				
					  <input type="hidden" name="education" value="Other">
	
					  <input type="submit" class="btn submit" value="Submit"></input>
					</form>
				</div>
			</div>
			<hr>
			<div class="row">
			</div>
		</div>
	</div><!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/bootstrap.js"></script>

	<script src="/javascripts/Placeholders.js"></script>
