<div class="timeline-container">
	<div class="modal-timeline">
		<table id="timeline-table" class="table table-striped">
			<th><a class="btn btn-info" id="bookmark">Bookmark Resource</a></th>
			
			<tbody data-bind="foreach: getReversedTimeline()">
			
				
				<tr><td data-bind="style: { 'background-color': $index()%2 == 1 ? '#F9F9F9' : '#FFF', 'border-top': $index()==0 ? 'none' : '1px #DDD solid'}">
								   
						<div data-bind="html: $root.generateParadataText($data, $index()), attr:{id: 'paradata' + $index() }"></div>
					</td>			   
				</tr>
			</tbody>
		</table>

		<div style="text-align: center;">
			<span data-bind="if: checkTimelineLength(currentObject().timeline) == 0">Be the first to interact (below)</span>
		</div>
	</div>
	
	<div class="modal-iframe">
		<div id="mBody" class="modal-body">
			<div id="spinnerDiv" style="margin: 100px auto; height: 20%; width:20%;"></div>
		</div>
	</div>


	<div class="chatTools">
		<span style="border-right: 1px solid #aaa">
			<a data-bind="click: handleDataClick" href="#" data-placement="top" rel="tooltip" data-original-title="View Metadata"><i class="icon-file"></i></a>
		</span>
		<span style="border-right: 1px solid #aaa">
			<a href="#" data-placement="top" rel="tooltip" data-original-title="Vote Up"><i class="icon-plus"></i></a>&nbsp;
			<a href="#" data-placement="top" rel="tooltip" data-original-title="Vote Down"><i class="icon-minus"></i></a>
		</span>
		<span>
			<a href="#" data-placement="top" rel="tooltip" data-original-title="Flag for Review"><i class="icon-flag"></i></a>
		</span>
	</div>
	<div class="chatBox">
		<textarea placeholder="Add comment here (press Enter to send)."></textarea>
	</div>
</div>

<div class="modal" id="metadata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div style="height: 4%;" class="modal-header visualModal">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<div>
			<span>View Data</span>
		</div>
	</div>
	
	<div id="modal-data-view"></div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://login.persona.org/include.js"></script>
	<script src="/javascripts/moment.min.js"></script>
	<script src="/javascripts/prettify.js"></script>

	<script src="/javascripts/jquery.js"></script>
	<script src="//code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
	<script src="/javascripts/bootstrap.js"></script>

	<script type="text/javascript" src="/javascripts/libs/modernizr-2.0.6.min.js"></script>
	<script type="text/javascript" src="/javascript/ui/jquery.cookie.js"></script>
	<script type="text/javascript" src="/javascripts/libs/jquery.ba-hashchange.min.js.txt"></script>

	<script type="text/javascript" src="/javascript/jquery.xml2json.js"></script>
	<script type="text/javascript" src="/javascript/ui/jquery.eComboBox.js"></script>

	<script src="/javascripts/Placeholders.js"></script>
	<script src="/javascripts/spin.min.js"></script>
	<script src="/javascripts/jquery.nicescroll.js"></script>

	<script language="javascript" type="text/javascript" src="/javascript/jit-yc.js"></script>
	<script type="text/javascript" src="/javascript/lrbrowser.js"></script>
	<script type="text/javascript" src="/javascript/paradata.js"></script>
	<script type="text/javascript" src="/javascript/utils.js"></script>
	<link type="text/css" href="/themes/Aristo/Aristo.css" rel="stylesheet" />
	<!--<link type="text/css" href="themes/demos.css" rel="stylesheet" />-->
	<link type="text/css" href="/stylesheets/Hypertree.css" rel="stylesheet" />
	<link type="text/css" href="/stylesheets/prettify.css" rel="stylesheet" />
	<script type="text/javascript">

		  //if user is new:
		  $("[rel=tooltip]").tooltip();

		var allOrganizations = "{{orgs}}".split(",");
		var followed = "{{followed}}".split(",");
		var allTerms = "{{terms}}".split(",");

		//console.log({{orgs}});
	</script>
	<script src="/javascripts/application.js"></script>
	<script>
	
		$("#metadata").modal('hide'); 
		var allOrganizations = "{{orgs}}".split(","), allTerms = "{{terms}}".split(","), temp = new mainViewModel([]);
		//console.log("{{query}}");
		
		console.log("Comments: ", "{{user.comments[0]}}");
		
		handleMainResourceModal("{{query}}");
		console.log(allTerms);
		ko.applyBindings(temp);
		
		{{#user.paradata}}
			if("{{query}}" == "{{activity.object}}"){
				
				temp.currentObject().timeline.push(genParadataDoc("{{activity.actor.objectType}}","{{activity.actor.id}}",
																  "{{activity.verb.action}}", "{{activity.verb.detail}}","{{activity.verb.date}}"));
			}
		{{/user.paradata}}

		//Last modal location should either be home, or visual
		for (var f in followed){
			temp.followers.push({name:followed[f], content:[]});
		}
		
		$("#modal").hide();
		var initialGraphBuild = false;
		$(document).ready(function(){
			
			$('input, textarea').placeholder();

			enableModal();
			
			$("#bookmark").click(function(){
				
				if("{{user}}".length < 1){
					alert("You must be logged in to bookmark resources.");
					return;
				}
				
				//add element to observable array, send a request via socketio, and remove current textarea value
				var paradata = genParadataDoc("{{user.jobTitle}}", "{{user._id}}", "bookmarked");

				//temp.currentObject().timeline.push(paradata);
				scrollbarFix();
				
				
				$.ajax({
					type: "POST",
					url: "/main",
					dataType: "json",
					jsonp: false,
					contentType: 'application/json',
					data: createJSON(paradata, "bookmark"),
					success: function(data){

						console.log("added");
						console.log("Response data: ", data);
					},
					error: function(error){
						console.error(error);
					}
				});
				
				
			});
			
			$(".icon-flag").click(function(){
								
				if("{{user}}".length < 1){
					alert("You must be logged in to flag resources.");
					return;
				}
				
				//add element to observable array, send a request via socketio, and remove current textarea value
				var paradata = genParadataDoc("{{user.jobTitle}}", "{{user._id}}","flagged");
				temp.currentObject().timeline.push(paradata);
				paradataStoreRequest(paradata);
				
				scrollbarFix();
				
			});
			
			$(".chatBox textarea").keyup(function(e){
				
				//Enter was pressed
				if(e.which == 13){
					
					if("{{user}}".length < 1){
						alert("You must be logged in to comment.");
						return;
					}

					//add element to observable array, send a request via socketio, and remove current textarea value
					var paradata = genParadataDoc("{{user.jobTitle}}", "{{user._id}}","commented", $(this).val().trim());

					temp.currentObject().timeline.push(paradata);
					scrollbarFix();
					
					paradataStoreRequest(paradata);

					$(this).val("");
				}
			});

			$(".resultModal").on("click", ".resultClick", function(e){

				e.preventDefault();
				e.stopPropagation();

				$("#visualBrowser").modal("hide");
				handleMainResourceModal($(this).attr("name"));
				console.log("show click");
			});

			$("table").on("click", ".author-timeline", function(evt){

				$(".author-timeline").not(this).popover('hide');
				$(this).popover('toggle');

				//Enable tooltips
				$(".bottomBar i").tooltip();

				//evt.stopPropagation();
			});
			
			var handlePerfectSize = function(){
				var height = $(window).height() - $(".navbar-inverse").height();
				$(".timeline-container").css("height", height + "px");				
				$(".modal-timeline").css("height", (height - 150) + "px");
			};
			
			handlePerfectSize();
			$(window).resize(function() {
				handlePerfectSize();
			});
		});

		var hidePopover = function(){

			$(".author-timeline").popover('hide');
		};

		var handleOnclickUserBar = function(obj){
			
			var cacheObj = $(obj);
			var name = cacheObj.attr("name");
			var className = cacheObj.attr("class");

			if(className == "icon-star")
				self.followUser(name);
				
			else if(className == "icon-file"){
				
				
			}
			
			//Substr gets the number portion of "paradataX"
			var test = cacheObj.attr("name").substr(8, cacheObj.attr("name").length-8);
			console.log(test, self.currentObject().timeline()[test]);
			displayObjectData(self.getReversedTimeline()[test]);
		};
	</script>

	<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
		<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
	<![endif]-->

<!--<script>
jQuery(function(){
        $("#Search").bind("click", function() {
                try {
                        var term = $("#term")[0].value;
                        _gaq.push(['_trackEvent', 'LRBrowser', 'Go', term.toLowerCase()]);
                } catch (e) {}
        });
});
</script>-->


