<div class="container">
		<div style="height: 30px;" class="modal-header timelineModal">

			<a class="btn" data-placement="left" rel="tooltip" data-original-title="Bookmark Resource" data-bind="visible: !isCurrentBookmarked(), click: moveResourceToBookmark" style="float: right;" href="#">
				<i class="icon-heart"></i>
			</a>
			<a class="btn disabled" data-placement="left" rel="tooltip" data-original-title="Remove from Bookmarks" data-bind="visible: isCurrentBookmarked(), click: moveResourceToBookmark" style="float: right; cursor: pointer;" href="#">
				<i class="icon-heart"></i>
			</a>
			<div>
				<span data-bind="text: currentObject().title"></span>
			</div>
		</div>

		<div class="modal-timeline">
			<table id="timeline-table" class="table table-striped">
				<tbody data-bind="foreach: currentObject().timeline">
				
				
					<tr><td data-bind="style: { 'background-color': $index()%2 == 1 ? '#F9F9F9' : '#FFF', 'border-top': $index()==0 ? 'none' : '1px #DDD solid'}">
									   
							<div data-bind="html: $root.generateParadataText($data, $index()), attr:{id: 'paradata' + $index() }"></div>
									   

						</td>
									   
									   
					</tr>
				</tbody>
			</table>

			<span data-bind="if: checkTimelineLength(currentObject().timeline) == 0">&nbsp;&nbsp;Be the first to interact!</span>
		</div>
		
		<div class="modal-iframe">
			<div id="mBody" class="modal-body">
				<div id="spinnerDiv" style="margin: 100px auto; height: 20%; width:20%;"></div>
			</div>
		</div>


		<div class="chatTools">
			<span style="border-right: 1px solid #aaa">
				<a data-bind="click: handleDataClick" href="#" data-placement="top" rel="tooltip" data-original-title="View Metadata"><i class="icon-file"></i></a>
			</span>
			<span style="border-right: 1px solid #aaa">
				<a href="#" data-placement="top" rel="tooltip" data-original-title="Vote Up"><i class="icon-plus"></i></a>&nbsp;
				<a href="#" data-placement="top" rel="tooltip" data-original-title="Vote Down"><i class="icon-minus"></i></a>
			</span>
			<span>
				<a href="#" data-placement="top" rel="tooltip" data-original-title="Flag for Review"><i class="icon-flag"></i></a>
			</span>
		</div>
		<div class="chatBox">
			<textarea placeholder="Add comment here (press Enter to send)."></textarea>
		</div>
	</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://login.persona.org/include.js"></script>
	<script src="/javascripts/moment.min.js"></script>
	<script src="/javascripts/prettify.js"></script>

	<script src="/javascripts/jquery.js"></script>
	<script src="//code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
	<script src="/javascripts/bootstrap.js"></script>

	<script type="text/javascript" src="/javascripts/libs/modernizr-2.0.6.min.js"></script>
	<script type="text/javascript" src="/javascript/ui/jquery.cookie.js"></script>
	<script type="text/javascript" src="/javascripts/libs/jquery.ba-hashchange.min.js.txt"></script>

	<script type="text/javascript" src="/javascript/jquery.xml2json.js"></script>
	<script type="text/javascript" src="/javascript/ui/jquery.eComboBox.js"></script>

	<script src="/javascripts/Placeholders.js"></script>
	<script src="/javascripts/spin.min.js"></script>
	<script src="/javascripts/jquery.nicescroll.js"></script>

	<script language="javascript" type="text/javascript" src="/javascript/jit-yc.js"></script>
	<script type="text/javascript" src="/javascript/lrbrowser.js"></script>
	<script type="text/javascript" src="/javascript/paradata.js"></script>
	<script type="text/javascript" src="/javascript/utils.js"></script>
	<link type="text/css" href="/themes/Aristo/Aristo.css" rel="stylesheet" />
	<!--<link type="text/css" href="themes/demos.css" rel="stylesheet" />-->
	<link type="text/css" href="/stylesheets/Hypertree.css" rel="stylesheet" />
	<link type="text/css" href="/stylesheets/prettify.css" rel="stylesheet" />
	<script src="/javascripts/application.js"></script>
	<script>
	
	
		var allOrganizations = "{{orgs}}".split(","), allTerms = "{{terms}}".split(","), temp = new mainViewModel([]);
		handleMainResourceModal("{{query}}");
		console.log(allTerms);
		ko.applyBindings(temp);
	</script>

	<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
		<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
	<![endif]-->

<!--<script>
jQuery(function(){
        $("#Search").bind("click", function() {
                try {
                        var term = $("#term")[0].value;
                        _gaq.push(['_trackEvent', 'LRBrowser', 'Go', term.toLowerCase()]);
                } catch (e) {}
        });
});
</script>-->


