
		<!--[if IE]><script src="excanvas.js"></script><![endif]-->


		<script language="javascript" type="text/javascript" src="/javascript/jit-yc.js"></script>
		<script type="text/javascript" src="/javascript/lrbrowser.js"></script>
		<script type="text/javascript" src="/javascript/paradata.js"></script>
		<script type="text/javascript" src="/javascript/utils.js"></script>
		<link type="text/css" href="/themes/Aristo/Aristo.css" rel="stylesheet" />
		<!--<link type="text/css" href="themes/demos.css" rel="stylesheet" />-->
		<link type="text/css" href="/stylesheets/lrbrowser.css" rel="stylesheet" />
		<link type="text/css" href="/stylesheets/Hypertree.css" rel="stylesheet" />
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26825770-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
			<!--<div class=header>
					<h1>LEARNING REGISTRY BROWSER</h1>
			</div>-->
			<div class="span4">
				<div class=left_column >
					<div id=spacer style="height: 65px;"></div>
					<div id="searchinput" style="text-align: center;">
						<h4>SEARCH</h4>
						<input type=text id="term" size="10" autocomplete="off">
						<button id="Search">Go!</button>
						<button id="Help">Help</button>
					</div>
					<div class="text" >
						<h4>STATUS</h4>
						<div style="text-align: center;">
							<div id="progressbar" align="center"></div>
						</div>
						<div id="status">
							...
						</div>
					</div>
					<br>
					<div class="text">
						<h4>SEARCH SUMMARY</h4>
						<div id="results_summary"></div>
						<p></p>
						<button id="secondary">Load Secondary Terms?</button>
					</div>
					<br>
					<div id = "debugDiv" class="text">
						<h4>DEBUG</h4>
						<div id="debug">
							...
						</div>
					</div>
				</div>
				<div class=center_column >
					<div><div id="infovis"/></div>
					
				</div>
			<div class=right_column >
				<div id=spacer style="height: 65px;"></div>
				<h4>RESULTS</h4>
				<span id="doc_list_header"></span>
				<div id="document_list">
					<div id="doc_list_accordion"/>
				</div>
			</div>
		</div>
<!--<script>
jQuery(function(){
        $("#Search").bind("click", function() {
                try {
                        var term = $("#term")[0].value;
                        _gaq.push(['_trackEvent', 'LRBrowser', 'Go', term.toLowerCase()]);
                } catch (e) {}
        });
});
</script>-->

