 	<div class="container">
		<div class="searchHeader visualModal">
			<div>
				<span style="display:none;" id="doc_list_header"></span> <span>Search Results</span>
					<form method="get" action="/visual" id="searchinput" class="input-append" style="float:right;">
						 <input class="input-xxlarge" id="term" name="query" type="text" placeholder="Start New Search (current: {{query}})"/>
						 <button class="btn btn-primary"id="Search" style="margin-top:0;" type="submit">Search</button>
					</form>
			</div>
		</div>
		
		
		<div class="row" data-bind="visible:results().length > 0">

			<div class="span9 activity">
				<table class="table table-striped resultsTable">
					<tbody data-bind="foreach: getResults()">
								<tr style="border-top:none;" data-bind="style: { 'background-color': $index()%2 == 1 ? '#F9F9F9' : '#FFF'}">
									<td style="border-top:none;padding-top:15px;padding-bottom:15px;" class="imageCell">
										<a data-bind="attr:{href:'/timeline?query='+url}">
																					<!-- ko if: hasScreenshot -->
											<img data-bind="attr:{src:'/screenshot/' + _id}" class="img-polaroid" />
											<!-- /ko -->
											<!-- ko if: !hasScreenshot -->
											<img src="/images/qmark.png" class="img-polaroid" />
											<!-- /ko -->
										</a>
									</td>
									<td style="border-top:none;padding-top:15px;padding-bottom:15px;">
										<a data-bind="text:title?title:$root.getShorterArr(keys, 5, true), attr:{href:'/timeline?query='+url, title:title}" class="title"></a><br/>
										<a data-bind="text:url, attr:{href:'/timeline?query='+url}" class="fine"></a><br/>
										<span data-bind="text:(description.length<280)? description:description.substr(0, 280)+'...'" class="fine"></span>
									</td>
								</tr>
					</tbody>
				</table>
				
				
			</div>
			
			<div class="span3" style="padding-top:10px;" data-bind="foreach: relatedResultsNodes">
			
				<a class="relatedList" data-bind="text:(name[0] == undefined)?'':name[0].toUpperCase() + name.substr(1, name.length-1), click:$root.relatedTagSlice"></a>
			</div>
			

		</div>
		<div id="spinnerDiv"></div>

		<div class="infovizModal span8" style="display:none;">

			<div id="infovis"></div>

			<div class="text" >
				<div style="text-align: center;">
					<div id="progressbar" align="center"></div>
				</div>
				<div id="status">
					...
				</div>
			</div>
			<br>
			<div class="text">
				<div id="results_summary"></div>
			</div>
			<br>
			<div id = "debugDiv" class="text">
				<div id="debug">
					...
				</div>
			</div>

		</div>
		<div id="resultsNotFound" class="resultsPrompt" data-bind="visible:resultsNotFound">
			<span>Results Not Found</span>
		</div>
		<span style="float: left;" id="loadMore" class="btn" data-bind="click: updateSlice">Load More</span>
	</div>
		

	<script src="https://login.persona.org/include.js"></script>
	<script src="/javascripts/moment.min.js"></script>

	<script src="/javascripts/jquery.js"></script>
	<script src="//code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
	<script src="/javascripts/bootstrap.js"></script>


	<script type="text/javascript" src="/javascript/jquery.xml2json.js"></script>
	<script type="text/javascript" src="/javascript/ui/jquery.eComboBox.js"></script>

	<script src="/javascripts/Placeholders.js"></script>
	<script src="/javascripts/spin.min.js"></script>
	<script src="/javascripts/jquery.nicescroll.js"></script>

	<script language="javascript" type="text/javascript" src="/javascript/jit-yc.js"></script>
	<script type="text/javascript" src="/javascript/lrbrowser.js"></script>
	<script type="text/javascript" src="/javascript/paradata.js"></script>
	<script type="text/javascript" src="/javascript/utils.js"></script>
	<link type="text/css" href="/themes/Aristo/Aristo.css" rel="stylesheet" />
	<!--<link type="text/css" href="themes/demos.css" rel="stylesheet" />-->
	<link type="text/css" href="/stylesheets/Hypertree.css" rel="stylesheet" />

	<script type="text/javascript" src="/javascripts/hexmd5.js"></script>
	<script src="/javascripts/application.js"></script>
		
	<script type="text/javascript">
		var handlePerfectSize = function(){

			if($(document).height() > $(window).height()){
				$("#mainSection").css("height", "auto");
				return;
			}

			var height = $(window).height() - $(".navbar-inverse").height() - $("footer").height() * 2.2;

			//console.log(height);
			$("#mainSection").css("height", height + "px");
			$("#resultsNotFound").add("#spinnerDiv").css("margin-top", $(window).height()*.3 + "px");

		};
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26825770-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
		
		var initialGraphBuild = false;
		var allOrganizations = "{{orgs}}".split(","), allTerms = "{{terms}}".split(","), temp = new mainViewModel([]);
		var query = "{{query}}";
		
		
		console.log(allTerms);
		
		
		ko.applyBindings(temp);
		$(document).ready(function(){
			
			
			spinner = new Spinner(opts).spin($('#spinnerDiv')[0]);
			self.loadNewPage(true);
			totalSlice = 20;
			
			
			handlePerfectSize();
			$(window).resize(function() {
				
				handlePerfectSize();
			});
		});
		
	</script>

<!--<script>
jQuery(function(){
        $("#Search").bind("click", function() {
                try {
                        var term = $("#term")[0].value;
                        _gaq.push(['_trackEvent', 'LRBrowser', 'Go', term.toLowerCase()]);
                } catch (e) {}
        });
});
</script>-->

